
{% extends 'core/base/base.html' %}
{% load static %}
{% load humanize %}
{% block contents %}



      <div class="site__body">
        <div class="page-header">
          <div class="page-header__container container">
            <div class="page-header__breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                      <use
                        xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-right-6x9"
                      ></use>
                    </svg>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#">Breadcrumb</a>
                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                      <use
                        xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-right-6x9"
                      ></use>
                    </svg>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    CRUSHING MACHINES
                  </li>
                </ol>
              </nav>
            </div>
            <div class="page-header__title"><h1> CRUSHING MACHINES</h1></div>
          </div>
        </div>
        <div class="container">
          <div class="shop-layout shop-layout--sidebar--start">
            <div class="shop-layout__sidebar">
              <div class="block block-sidebar">
                <div class="block-sidebar__item">
                  <div
                    class="widget-filters widget"
                    data-collapse
                    data-collapse-opened-class="filter--opened"
                  >
                    <h4 class="widget__title">Filters</h4>
                    <div class="widget-filters__list">
                      <div class="widget-filters__item">
                        <div class="filter filter--opened" data-collapse-item>
                          <button
                            type="button"
                            class="filter__title"
                            data-collapse-trigger
                          >
                            Categories
                            <svg
                              class="filter__arrow"
                              width="12px"
                              height="7px"
                            >
                              <use
                                xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-down-12x7"
                              ></use>
                            </svg>
                          </button>
                          <div class="filter__body" data-collapse-content>
                            <div class="filter__container">
                              <div class="filter-categories">
                                <ul class="filter-categories__list">
                                  <li
                                  class="filter-categories__item filter-categories__item--parent">
                              
                                  <a href="{% url 'RockDrill' %}">Rock Drill</a>
                                </li>
                                <li
                                  class="filter-categories__item filter-categories__item--parent">
                                  <a href="{% url 'CrushingMachines' %}">Crushing Machines</a>
                                </li>
                                <li
                                  class="filter-categories__item filter-categories__item--parent">
                                  <a href="{% url 'MiningTrucks' %}">Mining Trucks </a>
                                </li>
                                <li
                                  class="filter-categories__item filter-categories__item--parent">
                                  <a href="{% url 'ConveyorBelts' %}">Conveyor Belts</a>
                                </li>
                                 
                                 
                         
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="widget-filters__item">
                        <div class="filter filter--opened" data-collapse-item>
                          <button
                            type="button"
                            class="filter__title"
                            data-collapse-trigger
                          >
                            Price
                            <svg
                              class="filter__arrow"
                              width="12px"
                              height="7px"
                            >
                              <use
                                xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-down-12x7"
                              ></use>
                            </svg>
                          </button>
                          <div class="filter__body" data-collapse-content>
                            <div class="filter__container">
                              <div
                                class="filter-price"
                                data-min="500"
                                data-max="1500"
                                data-from="590"
                                data-to="1130"
                              >
                                <div class="filter-price__slider"></div>
                                <div class="filter-price__title">
                                  Price: $<span
                                    class="filter-price__min-value"
                                  ></span>
                                  – $<span
                                    class="filter-price__max-value"
                                  ></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>












                    </div>
                  </div>
                </div>

            
                <div class="block-sidebar__item d-none d-lg-block">
                    <div class="widget-products widget">
                      <h4 class="widget__title">Latest Products</h4>
                    
                      {% for product in CrushingMachines_products %}
                      {% if product.product_tag == 'New Arrivals' %}
  
                      <div class="widget-products__list mb-3">
                        <div class="widget-products__item">
                          <div class="widget-products__image">
                            <a href="{% url 'product_detail' product.id %}">
                              <img src="{{ product.image.url }}" alt="{{ product.name }}">
                          </a>
                          </div>
                          <div class="widget-products__info">
                            <div class="widget-products__name">
                              <a href="{% url 'product_detail' product.id %}">{{ product.name|upper }}</a>
                            </div>
                            <div class="widget-products__prices">${{ product.price|floatformat:2|intcomma }}</div>
                          </div>
                        </div>
                      </div>
  
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div> 
                
              </div>
            </div>
            <div class="shop-layout__content">
              <div class="block">
                <div class="products-view">
                  <div class="products-view__options">
                    <div class="view-options">
                      <div class="view-options__layout">
                        <div class="layout-switcher">
                          <div class="layout-switcher__list">
                            <button
                              data-layout="grid-3-sidebar"
                              data-with-features="false"
                              title="Grid"
                              type="button"
                              class="layout-switcher__button"
                            >
                              <svg width="16px" height="16px">
                                <use
                                  xlink:href="{% static 'images/sprite.svg'%}#layout-grid-16x16"
                                ></use>
                              </svg>
                            </button>
                            <button
                              data-layout="grid-3-sidebar"
                              data-with-features="true"
                              title="Grid With Features"
                              type="button"
                              class="layout-switcher__button"
                            >
                              <svg width="16px" height="16px">
                                <use
                                  xlink:href="{% static 'images/sprite.svg'%}#layout-grid-with-details-16x16"
                                ></use>
                              </svg>
                            </button>
                            <button
                              data-layout="list"
                              data-with-features="false"
                              title="List"
                              type="button"
                              class="layout-switcher__button layout-switcher__button--active"
                            >
                              <svg width="16px" height="16px">
                                <use
                                  xlink:href="{% static 'images/sprite.svg'%}#layout-list-16x16"
                                ></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    
                      <div class="view-options__legend">
                        Showing {{  CrushingMachines_count }} products
                      </div>
                      <div class="view-options__divider"></div>
                      <div class="view-options__control">
                        <label for="">Sort By</label>
                        <div>
                          <select
                            class="form-control form-control-sm"
                            name=""
                            id=""
                          >
                            <option value="">Default</option>
                            <option value="">Name (A-Z)</option>
                          </select>
                        </div>
                      </div>
                      <div class="view-options__control">
                        <label for="">Show</label>
                        <div>
                          <select
                            class="form-control form-control-sm"
                            name=""
                            id=""
                          >
                            <option value="">12</option>
                            <option value="">24</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="products-view__list products-list"
                    data-layout="list"
                    data-with-features="false"
                  >

                <div class="products-list__body">
                    {% for product in CrushingMachines_products %}
                    <div class="products-list__item">
                        <div class="product-card">
                          <button class="product-card__quickview" type="button">
                            <svg width="16px" height="16px">
                              <use
                                xlink:href="{% static 'images/sprite.svg'%}#quickview-16"
                              ></use>
                            </svg>
                            <span class="fake-svg-icon"></span>
                          </button>
                          <div class="product-card__badges-list">
                            {% if product.product_tag == 'New Arrivals' %}
                            <div class="product-card__badge product-card__badge--new">New</div>
                            {% endif %}
                          </div>
                          <div class="product-card__image">
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                          </div>
                          <div class="product-card__info">
                            <div class="product-card__name">
                                <a href="{% url 'product_detail' product.id %}">{{ product.name|upper }}</a>
                            </div>
                            <div class="product-card__rating">
                                <div class="rating">
                                    <div class="rating__body">
                                        {% for i in "12345" %}
                                            <svg class="rating__star {% if i <= product.reviews_in_stars %}rating__star--active{% endif %}" width="13px" height="12px">
                                                <g class="rating__fill">
                                                    <use xlink:href="{% static 'images/sprite.svg' %}#star-normal"></use>
                                                </g>
                                                <g class="rating__stroke">
                                                    <use xlink:href="{% static 'images/sprite.svg' %}#star-normal-stroke"></use>
                                                </g>
                                            </svg>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="product-card__rating-legend">{{ product.reviews_in_stars }} Stars</div>
                            </div>
                            <ul class="product-card__features-list">
                                <li>Material: {{ product.material }}</li>
                               <li>Dimensions: {{ product.dimensions }}</li>
                            </ul>
                          </div>
                          <div class="product-card__actions">
                            <div class="product-card__availability">
                              Availability:
                              <span class="text-success">In Stock</span>
                            </div>
                            <div class="product-card__prices">${{ product.price|floatformat:2|intcomma }}</div>
                            <div class="product-card__buttons">
                                {% if user.is_authenticated %}
                                                <button class="btn btn-primary add-to-cart-btn"
                                                type="button"
                                                data-product-id="{{ product.id }}"
                                                data-add-to-cart-url="{% url 'add_to_cart' product.id %}"
                                                data-csrf-token="{{ csrf_token }}">
                                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                            <span class="btn-text">Add To Cart</span>
                                        </button>
                                        {% else %}
                                        <button class="btn btn-primary add-to-cart-btn"
                                        type="button">
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    <span class="btn-text">Add To Cart</span>
                                </button>
                                {% endif %}
                              <button
                                class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                                type="button"
                              >
                                <svg width="16px" height="16px">
                                  <use
                                    xlink:href="{% static 'images/sprite.svg'%}#wishlist-16"
                                  ></use>
                                </svg>
                                <span
                                  class="fake-svg-icon fake-svg-icon--wishlist-16"
                                ></span>
                              </button>
                            </div>
                          </div>
                        </div>
                    </div>
            
                  {% endfor %}

                </div>












                  <div class="products-view__pagination">
                    <ul class="pagination justify-content-center">
                      <li class="page-item disabled">
                        <a
                          class="page-link page-link--with-arrow"
                          href="#"
                          aria-label="Previous"
                          ><svg
                            class="page-link__arrow page-link__arrow--left"
                            aria-hidden="true"
                            width="8px"
                            height="13px"
                          >
                            <use
                              xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-left-8x13"
                            ></use></svg
                        ></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#"
                          >2 <span class="sr-only">(current)</span></a
                        >
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link page-link--with-arrow"
                          href="#"
                          aria-label="Next"
                          ><svg
                            class="page-link__arrow page-link__arrow--right"
                            aria-hidden="true"
                            width="8px"
                            height="13px"
                          >
                            <use
                              xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-right-8x13"
                            ></use></svg
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     


      
      
     <script>
      document.addEventListener("DOMContentLoaded", function () {
     const cartCountElement = document.getElementById("cart-count");
 
     // Function to fetch and update cart count
     function updateCartCount() {
         const cachedCount = sessionStorage.getItem("cart_count");
         if (cachedCount) {
             cartCountElement.textContent = cachedCount;
         }
 
         fetch("{% url 'get_cart_count' %}")
             .then(response => response.json())
             .then(data => {
                 if (data.cart_count !== undefined) {
                     cartCountElement.textContent = data.cart_count;
                     sessionStorage.setItem("cart_count", data.cart_count); // Cache count
                 }
             })
             .catch(error => console.error("Error fetching cart count:", error));
     }
 
     // Initialize cart count on page load
     updateCartCount();
 
     // Add click event to Add-to-Cart buttons
     document.querySelectorAll(".add-to-cart-btn").forEach(button => {
         button.addEventListener("click", function () {
             const btn = this;
             const spinner = btn.querySelector(".spinner-border");
             const btnText = btn.querySelector(".btn-text");
             const productId = btn.getAttribute("data-product-id");
             const csrfToken = btn.getAttribute("data-csrf-token");
             const addToCartUrl = btn.getAttribute("data-add-to-cart-url");
 
             if (!addToCartUrl || !productId) {
                 console.error("Product ID or Add-to-Cart URL is missing");
                 return;
             }
 
             spinner.classList.remove("d-none");
             btnText.textContent = "";
             btn.disabled = true;
 
             fetch(addToCartUrl, {
                 method: "POST",
                 headers: {
                     "Content-Type": "application/json",
                     "X-CSRFToken": csrfToken
                 },
                 body: JSON.stringify({ product_id: productId })
             })
                 .then(response => {
                     if (response.ok) {
                         return response.json();
                     }
                     throw new Error("Failed to add to cart");
                 })
                 .then(() => {
                     updateCartCount(); // Refresh cart count in real-time
                     btnText.textContent = "Added";
                     btn.classList.add("btn-success");
 
                     setTimeout(() => {
                         spinner.classList.add("d-none");
                         btnText.textContent = "Add To Cart";
                         btn.classList.remove("btn-success");
                         btn.disabled = false;
                     }, 2000);
                 })
                 .catch(error => {
                     console.error("Error:", error);
                     alert("Error adding product to cart. Please try again.");
                     spinner.classList.add("d-none");
                     btnText.textContent = "Add To Cart";
                     btn.disabled = false;
                 });
         });
     });
 });
 
      </script>
    {% endblock %}
