{% extends 'core/base/base.html' %}
{% load static %}
{% load humanize %}
{% block contents %}





      <!-- site__body -->
      <div class="site__body">
        <div class="page-header">
          <div class="page-header__container container">
            <div class="page-header__breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">Home</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                      <use xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-right-6x9"></use>
                    </svg>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#">Product</a> <svg class="breadcrumb-arrow" width="6px" height="9px">
                      <use xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-right-6x9"></use>
                    </svg>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="container">
            <div class="product product--layout--standard" data-layout="standard">





              <div class="product__content">
                <!-- .product__gallery -->
                <div class="product__gallery">
                  <div class="product-gallery">
                    <div class="product-gallery__featured">
                      <div class="owl-carousel" id="product-image">
                        <a href="{{ product.image.url }}" target="_blank">
                          <img src="{{ product.image.url }}" alt="{{ product.name|upper }}" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .product__gallery / end -->
              
                <div class="product__info">
                  <div class="product__wishlist-compare">
                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
                      <svg width="16px" height="16px">
                        <use xlink:href="{% static 'images/sprite.svg'%}#wishlist-16"></use>
                      </svg>
                    </button>
                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
                      <svg width="16px" height="16px">
                        <use xlink:href="{% static 'images/sprite.svg'%}#compare-16"></use>
                      </svg>
                    </button>
                  </div>
                  
                  <!-- Product Name -->
                  <h1 class="product__name">{{ product.name|upper }}</h1>
                 
                  <!-- Product Rating -->
                  <div class="product__rating">
                    <div class="product__rating-stars">
                      <div class="rating">
                        <div class="rating__body">
                          {% for i in "12345" %}
                                                        {% if  product.reviews_in_stars|add:"0" >= i|add:"0" %}
                                                            <!-- Filled star -->
                                                            <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                <path d="M6.5 0l2 4h4l-3 3 1 4-4-2-4 2 1-4-3-3h4z" fill="#f39c12" />
                                                            </svg>
                                                        {% else %}
                                                            <!-- Unfilled star -->
                                                            <svg class="rating__star" width="13px" height="12px">
                                                                <path d="M6.5 0l2 4h4l-3 3 1 4-4-2-4 2 1-4-3-3h4z" fill="#ddd" />
                                                            </svg>
                                                        {% endif %}
                                                    {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
              
              
                  <!-- Product Meta -->
                  <ul class="product__meta">
                    <li class="product__meta-availability">
                      Availability: <span class="text-success">In Stock</span>
                    </li>
                  </ul>
                </div>
                <!-- .product__info / end -->
              
                <!-- .product__sidebar -->
                <div class="product__sidebar">
                  <div class="product__availability">
                    Availability: <span class="text-success">In Stock</span>
                  </div>
              
                  <!-- Product Price -->
                  <div class="product__prices">${{ product.price|floatformat:2|intcomma }}</div>
              
                  <!-- .product__options -->
                  <form class="product__options">
                    <div class="form-group product__option">
                      <label class="product__option-label">Material</label>
                      <div class="input-radio-label">
                        <div class="input-radio-label__list">
                          <label><input type="radio" name="material" /> <span>{{ product.material }}</span></label>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Product Quantity -->
                    <div class="form-group product__option">
                     
                      <div class="product__actions">
                        <div class="product__actions-item product__actions-item--addtocart">
                          {% if user.is_authenticated %}
                          <button class="btn btn-primary add-to-cart-btn"
                          type="button"
                          data-product-id="{{ product.id }}"
                          data-add-to-cart-url="{% url 'add_to_cart' product.id %}"
                          data-csrf-token="{{ csrf_token }}">
                      <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                      <span class="btn-text">Add To Cart</span>
                  </button>
                  {% else %}
                  <button class="btn btn-primary add-to-cart-btn"
                  type="button"
                >
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span class="btn-text">Add To Cart</span>
          </button>
          {% endif %}
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- .product__options / end -->
                </div>
                <!-- .product__sidebar / end -->
              </div>
              







            </div>




            <div class="product-tabs">
              <div class="product-tabs__list">
                <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Description</a> <a href="#tab-specification" class="product-tabs__item">Specification</a> <a href="#tab-reviews" class="product-tabs__item">Reviews</a>
              </div>
              <div class="product-tabs__content">

                <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                  <div class="typography">
                    <h3>Product Full Description</h3>
                    <p>{{ product.description }}</p>
                    {% if product.specification_general %}
                      <h3>Specification</h3>
                      <p>{{ product.specification_general|linebreaks }}</p>
                    {% endif %}
                  </div>
                </div>
                
                <div class="product-tabs__pane" id="tab-specification">
                  <div class="spec">
                    <h3 class="spec__header">Specification & Dimensions</h3>
                    {% if product.specification_general %}
                      <div class="spec__row">
                        <div class="spec__name">Specification</div>
                        <div class="spec__value">{{ product.specification_general|linebreaks }}</div>
                      </div>
                    {% endif %}
                    {% if product.dimensions %}
                      <div class="spec__row">
                        <div class="spec__name">Dimensions</div>
                        <div class="spec__value">{{ product.dimensions|linebreaks }}</div>
                      </div>
                    {% endif %}
                 
                  </div>
                </div>
                
                


                <div class="product-tabs__pane" id="tab-reviews">
                  <div class="reviews-view">
                      <div class="reviews-view__list">
                          <h3 class="reviews-view__header">Customer Reviews</h3>
                          <div class="reviews-list">
                              <ol class="reviews-list__content">
                                  {% for review in reviews %}
                                  <li class="reviews-list__item">
                                      <div class="review">
                                          <div class="review__avatar">
                                              {% if review.image %}
                                                  <img src="{{ review.image.url }}" alt="{{ review.name }}" />
                                              {% else %}
                                                  <img src="{% static 'images/avatars/default-avatar.jpg' %}" alt="Default Avatar" />
                                              {% endif %}
                                          </div>
                                          <div class="review__content">
                                              <div class="review__author">{{ review.name }}</div>
                                              <div class="review__rating">
                                                  <div class="rating">
                                                      <div class="rating__body">
                                                        {% for i in "12345" %}
                                                        {% if review.stars|add:"0" >= i|add:"0" %}
                                                            <!-- Filled star -->
                                                            <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                <path d="M6.5 0l2 4h4l-3 3 1 4-4-2-4 2 1-4-3-3h4z" fill="#f39c12" />
                                                            </svg>
                                                        {% else %}
                                                            <!-- Unfilled star -->
                                                            <svg class="rating__star" width="13px" height="12px">
                                                                <path d="M6.5 0l2 4h4l-3 3 1 4-4-2-4 2 1-4-3-3h4z" fill="#ddd" />
                                                            </svg>
                                                        {% endif %}
                                                    {% endfor %}
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="review__text">{{ review.content }}</div>
                                              <div class="review__date">{{ review.date|date:"d M, Y" }}</div>
                                          </div>
                                      </div>
                                  </li>
                                  {% empty %}
                                  <li>No reviews yet.</li>
                                  {% endfor %}
                              </ol>
                          </div>
                      </div>
                      
                      <div class="reviews-view__form">
                          <h3 class="reviews-view__header">Write a Review</h3>
                          <form method="post" enctype="multipart/form-data" class="review-form">
                              {% csrf_token %}
                              {{ form.name }}  <!-- Render the name field -->
                              
                              <div class="form-group">
                                  <label>Rating</label>
                                  <div class="stars">
                                      {{ form.stars_widget|safe }}  <!-- Render the stars as radio buttons -->
                                  </div>
                              </div>
              
                              {{ form.content }}  <!-- Render the content field -->
                              {{ form.image }}  <!-- Render the image field -->
                              <button type="submit" class="btn btn-primary">Submit Review</button>
                          </form>
                      </div>
                  </div>
              </div>




              </div>
            </div>
          </div>
        </div>
        <!-- .block-products-carousel -->
    
        <div class="block block-products-carousel" data-layout="grid-5">
          <div class="container">
              <div class="block-header">
                  <h3 class="block-header__title">Related Products</h3>
                  <div class="block-header__divider"></div>
                  <div class="block-header__arrows-list">
                      <button class="block-header__arrow block-header__arrow--left" type="button">
                          <svg width="7px" height="11px">
                              <use xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-left-7x11"></use>
                          </svg>
                      </button>
                      <button class="block-header__arrow block-header__arrow--right" type="button">
                          <svg width="7px" height="11px">
                              <use xlink:href="{% static 'images/sprite.svg'%}#arrow-rounded-right-7x11"></use>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="block-products-carousel__slider">
                  <div class="block-products-carousel__preloader"></div>
                  <div class="owl-carousel">
                      {% for related_product in related_products %}
                      <div class="block-products-carousel__column">
                          <div class="block-products-carousel__cell">
                              <div class="product-card">
                                  <button class="product-card__quickview" type="button">
                                      <svg width="16px" height="16px">
                                          <use xlink:href="{% static 'images/sprite.svg'%}#quickview-16"></use>
                                      </svg> <span class="fake-svg-icon"></span>
                                  </button>
                                  <div class="product-card__image">
                                      <a href="{% url 'product_detail' related_product.id %}"><img src="{{ related_product.image.url }}" alt="{{ related_product.name }}" /></a>
                                  </div>
                                  <div class="product-card__info">
                                      <div class="product-card__name">
                                          <a href="{% url 'product_detail' related_product.id %}">{{ related_product.name }}</a>
                                      </div>
                                      <div class="product-card__rating">
                                          <div class="rating">
                                              <div class="rating__body">
                                                  {% for i in "12345" %}
                                                      <svg class="rating__star {% if i <= related_product.reviews_in_stars %}rating__star--active{% endif %}" width="13px" height="12px">
                                                          <g class="rating__fill">
                                                              <use xlink:href="{% static 'images/sprite.svg'%}#star-normal"></use>
                                                          </g>
                                                          <g class="rating__stroke">
                                                              <use xlink:href="{% static 'images/sprite.svg'%}#star-normal-stroke"></use>
                                                          </g>
                                                      </svg>
                                                  {% endfor %}
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-card__prices">${{ related_product.price|floatformat:2|intcomma }}</div>
                                  </div>
                                  <div class="product-card__actions">
                                      <div class="product-card__availability">
                                          Availability: <span class="text-success">In Stock</span>
                                      </div>
                                      <div class="product-card__buttons">
                                        {% if user.is_authenticated %}
                          <button class="btn btn-primary add-to-cart-btn"
                          type="button"
                          data-product-id="{{ product.id }}"
                          data-add-to-cart-url="{% url 'add_to_cart' product.id %}"
                          data-csrf-token="{{ csrf_token }}">
                      <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                      <span class="btn-text">Add To Cart</span>
                  </button>
                  {% else %}
                  <button class="btn btn-primary add-to-cart-btn"
                  type="button"
                >
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span class="btn-text">Add To Cart</span>
          </button>
          {% endif %}
                                          <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                              <svg width="16px" height="16px">
                                                  <use xlink:href="{% static 'images/sprite.svg'%}#wishlist-16"></use>
                                              </svg> <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                          </button>
                                         
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div </div>
              </div>
          </div>
      </div>
      </div>
      <!-- site__body / end -->
    
      
     <script>
      document.addEventListener("DOMContentLoaded", function () {
     const cartCountElement = document.getElementById("cart-count");
 
     // Function to fetch and update cart count
     function updateCartCount() {
         const cachedCount = sessionStorage.getItem("cart_count");
         if (cachedCount) {
             cartCountElement.textContent = cachedCount;
         }
 
         fetch("{% url 'get_cart_count' %}")
             .then(response => response.json())
             .then(data => {
                 if (data.cart_count !== undefined) {
                     cartCountElement.textContent = data.cart_count;
                     sessionStorage.setItem("cart_count", data.cart_count); // Cache count
                 }
             })
             .catch(error => console.error("Error fetching cart count:", error));
     }
 
     // Initialize cart count on page load
     updateCartCount();
 
     // Add click event to Add-to-Cart buttons
     document.querySelectorAll(".add-to-cart-btn").forEach(button => {
         button.addEventListener("click", function () {
             const btn = this;
             const spinner = btn.querySelector(".spinner-border");
             const btnText = btn.querySelector(".btn-text");
             const productId = btn.getAttribute("data-product-id");
             const csrfToken = btn.getAttribute("data-csrf-token");
             const addToCartUrl = btn.getAttribute("data-add-to-cart-url");
 
             if (!addToCartUrl || !productId) {
                 console.error("Product ID or Add-to-Cart URL is missing");
                 return;
             }
 
             spinner.classList.remove("d-none");
             btnText.textContent = "";
             btn.disabled = true;
 
             fetch(addToCartUrl, {
                 method: "POST",
                 headers: {
                     "Content-Type": "application/json",
                     "X-CSRFToken": csrfToken
                 },
                 body: JSON.stringify({ product_id: productId })
             })
                 .then(response => {
                     if (response.ok) {
                         return response.json();
                     }
                     throw new Error("Failed to add to cart");
                 })
                 .then(() => {
                     updateCartCount(); // Refresh cart count in real-time
                     btnText.textContent = "Added";
                     btn.classList.add("btn-success");
 
                     setTimeout(() => {
                         spinner.classList.add("d-none");
                         btnText.textContent = "Add To Cart";
                         btn.classList.remove("btn-success");
                         btn.disabled = false;
                     }, 2000);
                 })
                 .catch(error => {
                     console.error("Error:", error);
                     alert("Error adding product to cart. Please try again.");
                     spinner.classList.add("d-none");
                     btnText.textContent = "Add To Cart";
                     btn.disabled = false;
                 });
         });
     });
 });
 
      </script>
    {% endblock %}
