{% load static %}

<div class="site-header__nav-panel">
    <div class="nav-panel">
      <div class="nav-panel__container container">
        <div class="nav-panel__row">



          

            <div class="nav-panel__departments">
                <!-- .departments -->
                <div class="departments" data-departments-fixed-by="">
                  <div class="departments__body">
                    <div class="departments__links-wrapper">
                      <ul class="departments__links">






                          <li class="departments__item departments__item--menu"><a
                                  href="#">Construction Equipment<svg class="departments__link-arrow"
                                      width="6px" height="9px">
                                      <use
                                          xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                                      </use>
                                  </svg></a>
                              <div class="departments__menu"><!-- .menu -->
                                  <ul class="menu menu--layout--classic">
                                      <li><a href="{% url 'Excavators' %}">Excavators</a></li>
                                      <li><a href="{% url 'Bulldozers' %}">Bulldozers</a></li>
                                      <li><a href="{% url 'Cranes' %}">Cranes</a></li>
                                      <li><a href="{% url 'Loaders' %}">Loaders</a></li>
                                  </ul><!-- .menu / end -->
                              </div>
                          </li>
                          
                          <li class="departments__item departments__item--menu"><a
                              href="#">Metal Products<svg class="departments__link-arrow"
                                  width="6px" height="9px">
                                  <use
                                      xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                                  </use>
                              </svg></a>
                          <div class="departments__menu"><!-- .menu -->
                              <ul class="menu menu--layout--classic">
                                  <li><a href="{% url 'SteelPlates' %}">Steel Plates</a></li>
                                <li><a href="{% url 'AluminumSheets' %}">Aluminum Sheets</a></li>
                                  <li><a href="{% url 'CopperWires' %}">Copper Wires</a></li>
                                  <li><a href="{% url 'MetalPipes' %}">Metal Pipes</a></li>
                              </ul><!-- .menu / end -->
                          </div>
                      </li>




                      <li class="departments__item departments__item--menu"><a
                          href="#"> Industrial Machinery<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="{% url 'Lathes' %}">Lathes</a></li>
                              <li><a href="{% url 'CNCMachines' %}">CNC Machines</a></li>
                              <li><a href="{% url 'MillingMachines' %}">Milling Machines</a></li>
                              <li><a href="{% url 'HydraulicPresses' %}">Hydraulic Presses</a></li>
                          </ul><!-- .menu / end -->
                      </div>



                      <li class="departments__item departments__item--menu"><a
                          href="#"> Mining Equipment<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="{% url 'RockDrill' %}">Rock Drills</a></li>
                              <li><a href="{% url 'CrushingMachines' %}">Crushing Machines</a></li>
                              <li><a href="{% url 'MiningTrucks' %}">Mining Trucks</a></li>
                              <li><a href="{% url 'ConveyorBelts' %}">Conveyor Belts</a></li>
                          </ul><!-- .menu / end -->
                      </div>


                      <li class="departments__item departments__item--menu"><a
                          href="#">
                          Agricultural Machinery<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="{% url 'Tractors' %}">Tractors</a></li>
                              <li><a href="{% url 'Harvesters' %}"> Harvesters</a></li>
                              <li><a href="{% url 'Plows'  %}"> Plows</a></li>
                
                          </ul><!-- .menu / end -->
                      </div>


                          
                      <li class="departments__item departments__item--menu"><a
                          href="#">
                          Heavy Vehicles<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="{% url 'Dumptrucks' %}">Dump Trucks</a></li>
                              <li><a href="{% url 'Tankers' %}">Tankers</a></li>
                              <li><a href="{% url 'Forklifts' %}">Forklifts</a></li>
                              <li><a href="{% url 'Trailers' %}">Trailers</a></li>
                          </ul><!-- .menu / end -->
                      </div>                                            
                      </ul>
                  </div>                 
                  </div><button class="departments__button">
                    <svg class="departments__button-icon" width="18px" height="14px">
                      <use xlink:href="{% static 'images/sprite.svg'%}%}#menu-18x14"></use>
                    </svg>Shop By Category<svg class="departments__button-arrow" width="9px" height="6px">
                      <use xlink:href="{% static 'images/sprite.svg'%}%}#arrow-rounded-down-9x6"></use>
                    </svg>
                  </button>
                </div>
                <!-- .departments / end -->
              </div>







              
              <div class="nav-panel__nav-links nav-links">
                <ul class="nav-links__list">
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="{% url 'home' %}"><span>Home</span></a>
                    </li>
                   
                    
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="shop-grid-3-columns-sidebar.html"><span>Shop <svg
                                    class="nav-links__arrow" width="9px" height="6px">
                                    <use xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-down-9x6">
                                    </use>
                                </svg></span></a>
                        {% if user.is_authenticated %}
                        <div class="nav-links__menu"><!-- .menu -->
                            <ul class="menu menu--layout--classic">
                                <li><a href="{% url 'cart_view' %}">Cart</a></li>
                                <li><a href="{% url 'checkout_view' %}">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></l>
                               <li><a href="{% url 'myorders' %}">my orders</a></l>
                            </ul><!-- .menu / end -->
                        </div>
                        {% endif %}
                    </li>
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="{% url 'about_us' %}"><span>About Us</span></a>
                    </li>
                    <li class="nav-links__item"><a href="contact-us.html"><span>Contact
                                Us</span></a></li>
                                {% if user.is_authenticated %}
                                <li class="nav-links__item">
                                    <a href="{% url 'register_partner' %}">
                                        <span>Register as Partner</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-links__item">
                                    <a href="{% url 'Authenticate_view' %}">
                                        <span>Login</span>
                                    </a>
                                </li>
                {% endif %}
                </ul>
            </div><!-- .nav-links / end -->

            
          <!-- .nav-links / end -->
          <div class="nav-panel__indicators"> 
            {% if user.is_authenticated %}
            <div class="indicator ">
              <a href="{% url 'cart_view' %}" class="indicator__button">
                <span class="indicator__area">
                    <svg width="20px" height="20px">
                        <use xlink:href="{% static 'images/sprite.svg' %}#cart-20"></use>
                    </svg>
                    <span class="indicator__value" id="cart-count">0</span>
                </span>
             </a>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
</header>
<!-- desktop site__header / end -->