{% load static %}

<div class="site-header__nav-panel">
    <div class="nav-panel">
      <div class="nav-panel__container container">
        <div class="nav-panel__row">



          

            <div class="nav-panel__departments">
                <!-- .departments -->
                <div class="departments" data-departments-fixed-by="">
                  <div class="departments__body">
                    <div class="departments__links-wrapper">
                      <ul class="departments__links">





                          <li class="departments__item">
                              <a href="#">Power Tools <svg
                                      class="departments__link-arrow" width="6px"
                                      height="9px">
                                      <use
                                          xlink:href="mages/sprite.svg#arrow-rounded-right-6x9">
                                      </use>
                                  </svg></a>
                              <div class="departments__megamenu departments__megamenu--xl">
                                  <!-- .megamenu -->
                                  <div class="megamenu megamenu--departments"
                                      style="background-image: url('{% static 'images/megamenu/megamenu-1.jpg' %}');">
                                      <div class="row">
                                          <div class="col-3">
                                              <ul
                                                  class="megamenu__links megamenu__links--level--0">
                                                  <li
                                                      class="megamenu__item megamenu__item--with-submenu">
                                                      <a href="#">Power Tools</a>
                                                      <ul
                                                          class="megamenu__links megamenu__links--level--1">
                                                          <li class="megamenu__item"><a
                                                                  href="#">Engravers</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Drills</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Wrenches</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Plumbing</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Wall Chaser</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Pneumatic Tools</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Milling Cutters</a>
                                                          </li>
                                                      </ul>
                                                  </li>
                                                  <li class="megamenu__item"><a
                                                          href="#">Workbenches</a></li>
                                                  <li class="megamenu__item"><a
                                                          href="#">Presses</a></li>
                                                  <li class="megamenu__item"><a href="#">Spray
                                                          Guns</a></li>
                                                  <li class="megamenu__item"><a
                                                          href="#">Riveters</a></li>
                                              </ul>
                                          </div>
                                          <div class="col-3">
                                              <ul
                                                  class="megamenu__links megamenu__links--level--0">
                                                  <li
                                                      class="megamenu__item megamenu__item--with-submenu">
                                                      <a href="#">Hand Tools</a>
                                                      <ul
                                                          class="megamenu__links megamenu__links--level--1">
                                                          <li class="megamenu__item"><a
                                                                  href="#">Screwdrivers</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Handsaws</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Knives</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Axes</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Multitools</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Paint Tools</a>
                                                          </li>
                                                      </ul>
                                                  </li>
                                                  <li
                                                      class="megamenu__item megamenu__item--with-submenu">
                                                      <a href="#">Garden Equipment</a>
                                                      <ul
                                                          class="megamenu__links megamenu__links--level--1">
                                                          <li class="megamenu__item"><a
                                                                  href="#">Motor Pumps</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Chainsaws</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Electric Saws</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Brush Cutters</a>
                                                          </li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-3">
                                              <ul
                                                  class="megamenu__links megamenu__links--level--0">
                                                  <li
                                                      class="megamenu__item megamenu__item--with-submenu">
                                                      <a href="#">Machine Tools</a>
                                                      <ul
                                                          class="megamenu__links megamenu__links--level--1">
                                                          <li class="megamenu__item"><a
                                                                  href="#">Thread Cutting</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Chip Blowers</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Sharpening
                                                                  Machines</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Pipe Cutters</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Slotting
                                                                  machines</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Lathes</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="col-3">
                                              <ul
                                                  class="megamenu__links megamenu__links--level--0">
                                                  <li
                                                      class="megamenu__item megamenu__item--with-submenu">
                                                      <a href="#">Instruments</a>
                                                      <ul
                                                          class="megamenu__links megamenu__links--level--1">
                                                          <li class="megamenu__item"><a
                                                                  href="#">Welding
                                                                  Equipment</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Power Tools</a>
                                                          </li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Hand Tools</a></li>
                                                          <li class="megamenu__item"><a
                                                                  href="#">Measuring Tool</a>
                                                          </li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div><!-- .megamenu / end -->
                              </div>
                          </li>




                        




                          <li class="departments__item departments__item--menu"><a
                                  href="#">Construction Equipment<svg class="departments__link-arrow"
                                      width="6px" height="9px">
                                      <use
                                          xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                                      </use>
                                  </svg></a>
                              <div class="departments__menu"><!-- .menu -->
                                  <ul class="menu menu--layout--classic">
                                      <li><a href="#">Excavators</a></li>
                                      <li><a href="#">Bulldozers</a></li>
                                      <li><a href="#">Cranes</a></li>
                                      <li><a href="#">Loaders</a></li>
                                  </ul><!-- .menu / end -->
                              </div>
                          </li>
                          
                          <li class="departments__item departments__item--menu"><a
                              href="#">Metal Products<svg class="departments__link-arrow"
                                  width="6px" height="9px">
                                  <use
                                      xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                                  </use>
                              </svg></a>
                          <div class="departments__menu"><!-- .menu -->
                              <ul class="menu menu--layout--classic">
                                  <li><a href="#">Steel Plates</a></li>
                                  <li><a href="#">Aluminum Sheets</a></li>
                                  <li><a href="#">Copper Wires</a></li>
                                  <li><a href="#">Metal Pipes</a></li>
                              </ul><!-- .menu / end -->
                          </div>
                      </li>




                      <li class="departments__item departments__item--menu"><a
                          href="#"> Industrial Machinery<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="#">Lathes</a></li>
                              <li><a href="#">CNC Machines</a></li>
                              <li><a href="#">Milling Machines</a></li>
                              <li><a href="#">Hydraulic Presses</a></li>
                          </ul><!-- .menu / end -->
                      </div>



                      <li class="departments__item departments__item--menu"><a
                          href="#"> Mining Equipment<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="#">Rock Drills</a></li>
                              <li><a href="#">Crushing Machines</a></li>
                              <li><a href="#">Mining Trucks</a></li>
                              <li><a href="#">Conveyor Belts</a></li>
                          </ul><!-- .menu / end -->
                      </div>


                      <li class="departments__item departments__item--menu"><a
                          href="#">
                          Agricultural Machinery<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="#">Tractors</a></li>
                              <li><a href="#"> Harvesters</a></li>
                              <li><a href="#"> Plows</a></li>
                              <li><a href="#">  Irrigation Systems</a></li>
                          </ul><!-- .menu / end -->
                      </div>


                          
                      <li class="departments__item departments__item--menu"><a
                          href="#">
                          Heavy Vehicles<svg class="departments__link-arrow"
                              width="6px" height="9px">
                              <use
                                  xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-right-6x9">
                              </use>
                          </svg></a>
                      <div class="departments__menu"><!-- .menu -->
                          <ul class="menu menu--layout--classic">
                              <li><a href="#">Dump Trucks</a></li>
                              <li><a href="#">Tankers</a></li>
                              <li><a href="#">Forklifts</a></li>
                              <li><a href="#">Trailers</a></li>
                          </ul><!-- .menu / end -->
                      </div>                                            
                      </ul>
                  </div>                 
                  </div><button class="departments__button">
                    <svg class="departments__button-icon" width="18px" height="14px">
                      <use xlink:href="{% static 'images/sprite.svg'%}%}#menu-18x14"></use>
                    </svg>Shop By Category<svg class="departments__button-arrow" width="9px" height="6px">
                      <use xlink:href="{% static 'images/sprite.svg'%}%}#arrow-rounded-down-9x6"></use>
                    </svg>
                  </button>
                </div>
                <!-- .departments / end -->
              </div>







              
              <div class="nav-panel__nav-links nav-links">
                <ul class="nav-links__list">
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="{% url 'home' %}"><span>Home</span></a>
                    </li>
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="#"><span>Products<svg class="nav-links__arrow" width="9px"
                                    height="6px">
                                    <use xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-down-9x6">
                                    </use>
                                </svg></span></a>
                        <div class="nav-links__megamenu nav-links__megamenu--size--nl">
                            <!-- .megamenu -->
                            <div class="megamenu">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="megamenu__links megamenu__links--level--0">
                                            <li class="megamenu__item megamenu__item--with-submenu">
                                                <a href="#">Services</a>
                                                <ul
                                                    class="megamenu__links megamenu__links--level--1">
                                                    <li class="megamenu__item"><a
                                                            href="#">Heavy Metals</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Construction Machinery</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Caterpillar Equipment</a></li>
                                                    <li class="megamenu__item"><a
                                                            href="#">Industrial Equipment</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .megamenu / end -->
                        </div>
                    </li>
                    
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="shop-grid-3-columns-sidebar.html"><span>Shop <svg
                                    class="nav-links__arrow" width="9px" height="6px">
                                    <use xlink:href="{% static 'images/sprite.svg'%} #arrow-rounded-down-9x6">
                                    </use>
                                </svg></span></a>
                                {% if user.is_authenticated %}
                        <div class="nav-links__menu"><!-- .menu -->
                            <ul class="menu menu--layout--classic">
                                <li><a href="{% url 'cart_view' %}">Cart</a></li>
                                <li><a href="{% url 'checkout_view' %}">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></l>
                               <li><a href="{% url 'myorders' %}">my orders</a></l>
                            </ul><!-- .menu / end -->
                        </div>
                        {% endif %}
                    </li>
                    <li class="nav-links__item nav-links__item--with-submenu"><a
                            href="#"><span>About Us</span></a>
                    </li>
                    <li class="nav-links__item"><a href="contact-us.html"><span>Contact
                                Us</span></a></li>
                                {% if user.is_authenticated %}
                                <li class="nav-links__item">
                                    <a href="{% url 'register_partner' %}">
                                        <span>Register as Partner</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-links__item">
                                    <a href="{% url 'Authenticate_view' %}">
                                        <span>Login</span>
                                    </a>
                                </li>
                                {% endif %}
                </ul>
            </div><!-- .nav-links / end -->

            
          <!-- .nav-links / end -->
          <div class="nav-panel__indicators">
            <div class="indicator">
              <a href="wishlist.html" class="indicator__button">
                <span class="indicator__area">
                  <svg width="20px" height="20px">
                    <use xlink:href="{% static 'images/sprite.svg'%}#heart-20"></use>
                  </svg> <span class="indicator__value">0</span>
                </span>
              </a>
            </div>
            <div class="indicator ">
              <a href="{% url 'cart_view' %}" class="indicator__button">
                <span class="indicator__area">
                    <svg width="20px" height="20px">
                        <use xlink:href="{% static 'images/sprite.svg' %}#cart-20"></use>
                    </svg>
                    <span class="indicator__value" id="cart-count">0</span>
                </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
<!-- desktop site__header / end -->